@model UpdatePasswordViewModel 

@{
    ViewData["Title"] = "Update Password"; 
}

<h2>@ViewData["Title"]</h2>

<div class="container d-flex flex-row">
    <div>
        <form asp-controller="User" asp-action="UpdatePassword" method="post">
            <div asp-validation-summary="All" class="text-danger"></div>

            <div class="form-group">
                <label asp-for="CurrentPassword" class="control-label"></label>
                <div class="col-md-10">
                    <input asp-for="CurrentPassword" type="password" class="form-control">
                </div>
            </div>

            <div class="form-group" style="margin-bottom: 10px;">
                <label asp-for="NewPassword" class="control-label"></label>
                <div class="col-md-10">
                    <input asp-for="NewPassword" type="password" class="form-control">
                </div>
            </div>

            <div class="form-group d-flex">
                <div class="me-2">
                    <button type="submit" class="btn btn-outline-warning">
                        Update
                    </button>
                </div>
                <div>
                    <a asp-action="Index" asp-controller="Post" class="btn btn-outline-info">
                        Back
                    </a>
                </div>
            </div>

        </form>
    </div>
</div>